$palette1: #f7b34e;
$palette2: #be86f3;
$palette3: #c42f2a;
$palette4: #56acfc;
$palette5: #07d85b;


$primary: $palette4;
$danger: $palette3;
$warning: $palette1;
$success: $palette5;


$font-family-base: "Open sans", sans-serif;
$font-family-header: "Raleway", sans-serif;

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url('./fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url('./fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf');
}


@import "~bootswatch/dist/superhero/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/bootswatch";



h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  //color: $light;
}

