.BugListItem {
  color: var(--bs-dark);
  background-color: var(--bs-light);
}

.BugListItem:hover,
.BugListItem:focus {
  cursor: pointer;
  color: var(--bs-light);
  background-color: var(--bs-dark);
}



