.BugSummary {
  color: var(--bs-dark);
  background-color: var(--bs-light);
}

.BugSummary:hover,
.BugSummary:focus {
  cursor: pointer;
  color: var(--bs-light);
  background-color: var(--bs-dark);
}



